//----------------------------------
// RESPONSIVE GRID
//----------------------------------
.row
  width: 100%
  max-width: 1024px
  margin: 0 auto
  +cf
  
  .left-column
    width: 100%
    +mq-min-medium
      width: 60%
      float: left
      padding-top: 12px

      h2
        width: 40%
        float: left
        text-align: right

        & + div
          float: left
          width: 60%

        .break
          display: block

    +mq-min-large
      padding-top: 11px

  .right-column
    width: 100%
    +mq-min-medium
      width: 40%
      float: left
    +mq-min-large
      padding-right: 28px