.perc-ag

  // Button styles
  .button
    background: $color-orange
    box-shadow: 0 5px 0 $color-darkorange

  .has-textinput
    padding-top: 1em

  .text-input
    padding: 0 55px

  .has-slider
    +mq-min-medium
      padding-top: 76px

  .slider-wrapper
    padding: 0 55px
    +mq-min-medium
      padding: 23px 60px 0 60px

  .has-range
    +mq-min-medium
      padding-top: 96px

  .range-wrapper
    padding: 0 55px
    +mq-min-medium
      padding: 0 60px

  .increment-input

    button
      background: $color-orange
      box-shadow: 0 6px 0 $color-darkorange

      &.active
        box-shadow: 0 3px 0 $color-darkorange

  .button

    &:active
      box-shadow: 0 3px 0 $color-darkorange

  .button-group
    
    button, .button
      
      &.active
        background: $color-orange
        box-shadow: 0 5px 0 $color-darkorange

  .tooltip-top, .tooltip-bottom

    .value
      border-color: $color-orange

  .price-per-gallon

  .result-data
    border-color: $color-darkorange

    .propane
      background: $color-orange

    .competitor
      background: $color-darkorange

  .tab-labels

    li

      &.active
        background: $color-orange
        border: 1px solid $color-darkorange

  .see-results
    background: $color-orange

  // Modal
  .modal
    
    input[type=text]
      border-color: $color-orange

  // Sliders
  .noUi-connect
    background: $color-orange

  .range-wrapper

    .noUi-background
      background: $color-orange

  // Inputs
  input, textarea, select
    border-color: $color-orange
  
  input:focus,
  textarea:focus
    border-color: $color-darkorange

.total-savings

  .tab-labels li
    width: 50%