// Button styles
.button, button
  display: inline-block
  width: 124px
  padding: 8px 0
  background: $color-green
  color: #fff
  border: none
  box-shadow: 0 5px 0 $color-darkgreen
  +border-radius(6px)
  text-transform: uppercase
  margin: 0 0 16px 0
  cursor: pointer

  &:focus
    outline: none

  &:hover
    color: #fff

.button

  &:active
    +transform-translate(0, 3px)
    box-shadow: 0 3px 0 $color-darkgreen

.toggle-group

  +mq-min-medium
    h2
      margin-top: 6px

  button
    font-weight: bold

.button-group
  position: relative
  +cf
  width: 242px !important
  height: 34px
  margin: 0 auto
  +mq-min-medium
    height: 52px
  
  button, .button
    font-size: 14px
    background: $color-gray
    width: 50%
    position: absolute
    z-index: 0
    box-shadow: none
    +border-radius(0)

    &.active
      background: $color-green
      box-shadow: 0 5px 0 $color-darkgreen
      +border-radius(6px)
      top: -5px
      width: 126px
      z-index: 1

    &:first-child
      +border-radius-left(6px)
      left: 0

    &:last-child
      +border-radius-right(6px)
      right: 0

// Increment/decrement
.increment-input
  position: relative
  margin: 0 auto
  display: inline-block

  button
    box-shadow: 0 6px 0 $color-darkgreen
    width: 30px
    height: 42px
    +border-radius(0)
    position: relative
    top: 3px
    display: block
    float: left
    +mq-min-xlarge

      &:active
        +transform-translate(0, 3px)
        box-shadow: 0 3px 0 $color-darkgreen

    &:first-child
      +border-radius-left(6px)

    &:last-child
      +border-radius-right(6px)

    &.active
      +transform-translate(0, 3px)
      box-shadow: 0 3px 0 $color-darkgreen

    i
      left: 0
      right: 0
      font-size: 24px

  input
    height: 54px
    width: 100px
    border: 2px solid $color-green
    +border-radius(3px)
    background: #fff
    color: $color-black
    text-align: center
    font-size: 21px
    font-weight: bold
    display: block
    float: left

.has-increment
  +mq-min-medium
    text-align: center
    margin-bottom: 20px

    h2
      margin-top: 0.6em

.has-increment ~ .has-increment
  +mq-min-medium
    margin-bottom: 0

.remove-margin

  h2
    margin-top: 0

// Single slider
.has-slider
  +mq-min-medium
    padding-top: 67px
  +mq-min-large
    padding-top: 65px
  
  h2
    margin-bottom: 4.5em
    +mq-min-medium
      margin-bottom: 0

.slider-wrapper
  padding: 0 55px
  position: relative
  +mq-min-medium
    padding: 23px 60px 0 60px

.tooltip-top, .tooltip-bottom
  display: none
  width: 110px
  background: transparent
  text-align: center
  position: absolute
  color: $color-black

  &:before, &:after
    position: absolute
    display: inline-block
    content: ''

  &:before
    border-left: 8px solid transparent
    border-right: 8px solid transparent
    left: 47px

  &:after
    border-left: 7px solid transparent
    border-right: 7px solid transparent
    left: 48px

  span
    display: block

  .label
    line-height: 19px
    font-size: 12px
    border: 1px solid $color-bluegray
    background: $color-lightgray
    text-transform: uppercase

  .value
    font-size: 21px
    line-height: 50px
    border: 2px solid $color-green
    background: #fff

  input.value
    text-align: center
    height: 48px
    line-height: 1em
    font-weight: bold

  // This gets really specific for each tooltip
  &.competitor-mower-price
    left: 20px

.tooltip-top
  top: -81px
  left: -43px
  +mq-min-medium
    top: -58px

  &:before
    border-top: 8px solid $color-bluegray
    left: 47px
    top: 68px

  &:after
    border-top: 7px solid $color-lightgray
    left: 48px
    top: 68px

  .value
    +border-radius-top(4px)
    border-bottom: none

  .label
    +border-radius-bottom(4px)

.tooltip-bottom
  top: 32px
  left: -43px

  &:before
    border-bottom: 8px solid $color-lightgray
    border-bottom-color: $color-bluegray
    top: -7px

  &:after
    border-bottom: 7px solid $color-lightgray
    top: -6px

  .value
    +border-radius-bottom(4px)
    border-top: none

  .label
    +border-radius-top(4px)

// Range slider
.has-range
  +mq-min-medium
    padding-top: 90px
  +mq-min-large
    padding-top: 88px

    h2
      margin-top: 4px

.range-wrapper
  padding: 0 55px
  position: relative
  +mq-min-medium
    padding: 0 60px

  .tooltip-top
    top: -79px

  .tooltip-bottom
    top: 40px

.range-slider
  margin-bottom: 50px
  +mq-min-medium
    margin-bottom: 90px

.difference-maker
  font-size: 21px
  line-height: 33px
  +font(generic,bold)
  color: #fff
  position: absolute
  top: -1px
  left: 0
  right: 0

// Result boxes
.results-container
  padding: 0 10px
  margin-bottom: 25px
  position: relative
  z-index: 5

.result-wrapper
  background: $color-bluegray
  +border-radius-top(4px)
  +border-radius-bottom(7px)
  padding-bottom: 5px
  margin-bottom: 12px

  &.tabbed

    .result-inner
      padding: 12px

    h2
      margin-bottom: 10px

    .result-data
      display: none

      &.active
        display: block

.result-inner
  +border-radius(3px)
  background: $color-lightgray
  padding: 8px

  h2
    color: $color-darkgray
    text-transform: uppercase
    text-align: center
    font-size: 16px
    font-weight: bold
    +font(bold)
    +mq-min-large
      font-size: 18px

.result-data
  border: 1px solid $color-darkgreen
  border-top: none
  +border-radius-bottom(3px)
  color: #fff
  position: relative
  z-index: 1

  &.no-radius
    +border-radius(0)

  .propane
    background: $color-green
    font-size: 16px
    padding: 8px 0
    +mq-min-medium
      padding: 16px 0
    +mq-min-large
      font-size: 20px

  .competitor
    background: $color-darkgreen
    font-size: 16px
    line-height: 26px

  span
    text-transform: uppercase

  .cost
    font-weight: bold
    font-size: 50px
    +mq-min-medium
      font-size: 54px

  .icon-tooltip
    color: #f0f0f0

.tab-labels
  +cf
  color: #fff
  padding: 0
  margin: 0
  text-transform: uppercase
  font-weight: bold
  font-size: 10px
  width: 100%
  +mq-min-medium
    font-size: 12px

  li
    float: left
    display: inline-block
    background: $color-darkgray
    width: percentage(1/3)
    line-height: 21px
    cursor: pointer
    +mq-min-medium
      line-height: 24px

    &:first-child
      +border-radius-left(2px)

    &:last-child
      +border-radius-right(2px)

    &.active
      background: $color-green
      border: 1px solid $color-darkgreen
      border-bottom: none
      +border-radius-top(2px)
      position: relative
      line-height: 25px
      top: 1px
      margin-top: -5px
      z-index: 1
      +mq-min-medium
        line-height: 28px
        font-size: 14px

// Tablet tool tips
.icon-tooltip
  display: none
  +mq-min-medium
    display: inline-block
    position: relative
    top: 2px
    left: -2px
    color: #c0c0c0

  .tab-tooltip
    display: none
    background: $color-lightgray
    border: 1px solid $color-bluegray
    +border-radius(9px)
    position: absolute
    padding: 10px 14px
    color: $color-black
    width: 360px
    z-index: 5
    +font(generic)
    font-size: 16px
    text-align: left
    font-style: normal
    text-transform: none

    &.active
      display: block

    &:before, &:after
      position: absolute
      display: inline-block
      content: ''

    &:before
      border-left: 8px solid transparent
      border-right: 8px solid transparent
      border-top: 8px solid $color-bluegray
      bottom: -8px

    &:after
      border-left: 7px solid transparent
      border-right: 7px solid transparent
      border-top: 7px solid $color-lightgray
      bottom: -7px

    p
      margin-bottom: 0

  .go-left
    bottom: 31px
    right: -8px

    &:before
      right: 8px

    &:after
      right: 9px

  .go-right
    bottom: 36px
    left: -10px

    &:before
      left: 12px

    &:after
      left: 13px

.right-column
  
  .results-container
    margin-bottom: 12px
    +mq-min-medium
      margin-bottom: 15px

.see-results
  display: block
  width: 100%
  color: #fff
  font-weight: bold
  background: $color-green
  line-height: 76px
  text-transform: uppercase
  margin-bottom: 12px
  +mq-min-medium
    display: none

  &:hover
    color: #fff

.share-button
  margin-bottom: 30px
  font-weight: bold
  font-size: 14px
  padding: 10px 0

  &:hover
    color: #fff

// Modal
.modal
  background: $color-lightgray
  border: 1px solid $color-gray
  +border-radius(6px)
  padding: 20px
  text-align: center
  max-width: 687px
  margin: 0 auto
  position: relative
  +mq-min-medium
    padding: 40px
    border-width: 2px

  .thank-you
    display: none

  h2
    color: $color-darkgray
    font-size: 27px
    font-weight: bold
    text-transform: uppercase

  p
    text-align: left

    &.or
      text-align: center
      font-weight: bold
      margin-bottom: 1em
      +mq-min-medium
        font-size: 1.2em
        display: inline-block
        border-top: 1px solid $color-bluegray
        border-bottom: 1px solid $color-bluegray
        padding: 0 2px
        line-height: 1.2em
        margin: 0 2.5em

  input[type=text]
    height: 28px
    background: #fff
    border: 1px solid $color-green
    +border-radius(2px)
    max-width: 200px
    display: block
    margin: 0 auto 25px auto
    +mq-min-medium
      max-width: 400px
      height: 55px
      font-size: 18px
      border-width: 2px
      padding-left: 16px
      margin-bottom: 38px

  .button
    position: relative
    +font(generic, bold)
    font-size: 18px
    padding: 7px 28px 
    width: auto
    +mq-min-medium
      padding: 8px 36px 11px 36px

  .icon-envelope, .icon-Doc
    font-size: 24px
    position: relative
    top: 4px
    left: -3px

  .close
    position: absolute
    right: -8px
    top: -10px
    color: #fff
    +mq-min-medium
      top: -22px
      right: -22px

    i:before
      background: $color-gray
      font-size: 22px
      +border-radius(50%)
      +mq-min-medium
        font-size: 44px
