//----------------------------------
// COLORS
//----------------------------------

$color-black: #333
$color-href: #454545
$color-href-hover: #454545
$color-green: #64B398
$color-darkgreen: #51967f
$color-extralightgray: #f0f0f0
$color-gray: #91959b
$color-lightgray: #dfdfdf
$color-darkgray: #666
$color-footergray: #535353
$color-bluegray: #91959b
$color-orange: #E88D40
$color-darkorange: #C07433
$color-purple: #8890AE
$color-darkpurple: #727892