/**
*
* Custom styling utilized for blog and any other content pages where the client inputs their own content through an editor.
*
**/

.custom {
	// Your CSS in here

	ul, ol {
		margin-bottom: 2.25em;
		margin-left: 25px;

		ul, ol {
			margin-left: 40px;
			margin-bottom: 0;

			li {
				font-size: 18px;
				color: rgba($color-brown, .7);
			}
		}
	}

	li {
		line-height: 1.5em;
		font-size: 20px;
		margin-bottom: 5px;

		p {
			font-size: inherit;
		}
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	h2 {
		color: $color-orange;
	}

	h3, h4 {
		color: $color-blue;
	}

	strong {
		font-weight: bold;
	}

}