/**
*
* Custom styling utilized for blog and any other content pages where the client inputs their own content through an editor.
*
**/

.custom {
	// Your CSS in here

	ul, ol {
		margin-bottom: 2.25em;
		padding-left: 4em;
	}

	li {
		line-height: 1.5em;
		font-size: em(20);
		margin-bottom: 5px;
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	h2 {
		color: $color-orange;
	}

	h3, h4 {
		color: $color-blue;
	}

	p {
		margin-bottom: 40px;
	}

	strong {
		font-weight: bold;
	}

}